
h1{
    color:aliceblue;
}
.main-cont{
    background-color:blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    

}
.btn{
    background-color: #18bd09;
}


