
<div class="body">
<nav class="main-cont">
    <div class="left-div" >
      <h1 >Employee Details</h1>
    </div>
      <div class="right-div">
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" data-bs-toggle="modal"
          data-bs-target="#exampleModal"  class="btn">Add Employee</button>
      </div>
  
    
  
  </nav>
  <table class="table">
  
      <tr>
        <th >Id</th>
        <th >First name</th>
        <th >Last name</th>
        <th >Age</th>
        <th >Desgination</th>
        <th >Salary</th>
        <th >Action</th>
      </tr>
 
  </table>
  </div>
  <app-employee-dashboard></app-employee-dashboard>